


<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="container-logo">
      <img src="assets/images/quick-list-logo.png" alt="Logo de la app" class="logo"/>
    </div>
    <ion-card >
      <ion-card-header class="color-bg">
        <ion-card-title color="light">Iniciar sesión</ion-card-title>
        <ion-card-subtitle color="light">Ingresa tus credenciales</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="username" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="full" type="submit" [disabled]="loginForm.invalid" color="tertiary">Login</ion-button>
          <p class="register-link">
            ¿No tienes una cuenta? <a routerLink="/register">Regístrate</a>
          </p>
        </form>
      </ion-card-content>
    </ion-card> 
  </div>

</ion-content>
