<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card >
      <ion-card-header color="secondary">
        <ion-card-title>MobUTEQ</ion-card-title>
        <ion-card-subtitle>Ingresa tus credenciales</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="username" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
          <p class="register-link">
            ¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a>
          </p>
        </form>
      </ion-card-content>
    </ion-card> 
  </div>

</ion-content>
