<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asistentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-button aria-label="Agregar asistente"  color="secondary">
        Agregar asistente
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar asistente"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-list-header>
      <ion-label></ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Rogelio Gudino de Leon </ion-label><ion-badge color="dark">2 eventos</ion-badge><ion-badge color="success">1 activo</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Salvador Torres Cestellos</ion-label><ion-badge color="secondary">1 próximos</ion-badge><ion-badge color="success">2 activo</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Daniela Marbella Pena Rangel</ion-label><ion-badge color="secondary">4 próximos</ion-badge><ion-badge color="success">1 activo</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Michelle Bocanegra Mandujano</ion-label><ion-badge color="secondary">1 próximos</ion-badge><ion-badge color="success">2 activo</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Jose Jimenez Gomez</ion-label><ion-badge color="secondary">3 próximos</ion-badge><ion-badge color="success">1 activo</ion-badge>
    </ion-item>
  </ion-list>
  <!--<ion-list [inset]="true">
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Rogelio Gudino de Leon</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Salvador Torres Cestellos</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Daniela Marbella Pena Rangel</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Michelle Bocanegra Mandujano</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Jose Jimenez Gomez</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Jaime Lopez Juarez</ion-checkbox></ion-label>
    </ion-item>
  </ion-list>-->
</ion-content>
