<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asistentes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Rogelio Gudino de Leon</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Salvador Torres Cestellos</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Daniela Marbella Pena Rangel</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Michelle Bocanegra Mandujano</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Jose Jimenez Gomez</ion-checkbox></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-checkbox labelPlacement="start">Jaime Lopez Juarez</ion-checkbox></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
