ion-footer {
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }
  .modal-content{
    padding: 5px;
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
  }